<%= render 'layouts/breadcrumb_headings' %>

<div class="row">

  <!-- Subscription form -->
  <div class="col-md-8">
    <div class="dm_settings_section">
      <div class="subscription-details">
        <% unless @subscription&.email.present? %>
          <p>
            You don't have active any subscription.</p>
        <% end %>
        <p>
          <a href="<%= plans_subscriptions_path(id: @subscription.id) %>" class="btn btn-primary-custom">Subscription
            Plans</a>
        </p>
      </div>
    </div>

    <!-- Start subscription form -->
    <div class="dm_settings_section_heading">
      <h3>Billing Details</h3>
    </div>


    <%= form_with(url: "/subscriptions/#{@subscription.id}", method: :put) do |f| %>
      <% f.hidden_field :user_id, value: current_user.id %>

      <!-- Email -->
      <fieldset>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email,
                           class: 'form-control',
                           placeholder: 'enter your email',
                           value: check_for(@subscription&.email)
          %>
        </div>
      </fieldset>

      <!-- First name -->
      <fieldset>
        <div class="row">
          <div class="col-md-6">
            <%= f.label :first_name %>
            <%= f.text_field :first_name,
                             class: 'form-control',
                             placeholder: 'enter your first name',
                             value: check_for(@subscription&.first_name)
            %>
          </div>
          <div class="col-md-6">
            <%= f.label :last_name %>
            <%= f.text_field :last_name,
                             class: 'form-control',
                             placeholder: 'enter your first name',
                             value: check_for(@subscription&.last_name)
            %>
          </div>
        </div>
      </fieldset>
      <br>

      <!-- Company -->
      <fieldset>
        <div class="form-group">
          <%= f.label :company %>
          <%= f.text_field :company,
                           class: 'form-control',
                           placeholder: '(optional)',
                           value: check_for(@subscription&.company)
          %>
        </div>
      </fieldset>

      <!-- Address line 1 -->
      <fieldset>
        <div class="form-group">
          <%= f.label 'Address Line 1' %>
          <%= f.text_field :address_line_one,
                           class: 'form-control',
                           placeholder: 'enter address line 1',
                           value: check_for(@subscription&.address_line_one)
          %>
        </div>
      </fieldset>

      <!-- Address line 2 -->
      <fieldset>
        <div class="form-group">
          <%= f.label 'Address Line 2' %>
          <%= f.text_field :address_line_two,
                           class: 'form-control',
                           placeholder: 'enter address line 2',
                           value: check_for(@subscription&.address_line_two)
          %>
        </div>
      </fieldset>

      <!-- City / Zip Code -->
      <fieldset>
        <div class="row">
          <div class="col-md-6">
            <%= f.label :city %>
            <%= f.text_field :city,
                             class: 'form-control',
                             placeholder: 'enter your city name',
                             value: check_for(@subscription&.city)
            %>
          </div>
          <div class="col-md-6">
            <%= f.label 'Zip Code' %>
            <%= f.text_field :zip_code,
                             class: 'form-control',
                             placeholder: 'enter your zip code',
                             value: check_for(@subscription&.zip_code)
            %>
          </div>
        </div>
      </fieldset>
      <br>

      <!-- Contry -->
      <fieldset>
        <div class="row">
          <div class="col-md-6">
            <%= f.label :country %>
            <%= f.select :country,
                         options_for_select(@countries,
                                            selected: check_for(@subscription&.country)
                         ),
                         {},
                         { class: 'form-control' }
            %>
          </div>
          <div class="col-md-6">
            <%= f.label 'Sate / Province' %>
            <%= f.text_field :state,
                             class: 'form-control',
                             placeholder: 'enter state',
                             value: check_for(@subscription&.state)
            %>
          </div>
        </div>
      </fieldset>
      <br>

      <%= f.submit 'Save', class: 'button right btn btn-primary-custom' %>
    <% end %>


  </div>


  <!-- Search documents -->
  <div class="col-md-4">
    <%= render 'layouts/side_widget' %>
  </div>
</div>
