<%= render 'layouts/breadcrumb_headings' %>

<div class="row">

  <!-- Subscription form -->
  <div class="col-md-8">

    <!-- Alert chip -->
    <div class="alert alert-dismissible alert-danger">
      <div id="flash_alert">
        <p>
          Your document was saved to you account. Try one of our subscriptions to print your document and access all
          features.
        </p>
      </div>
    </div>

    <!-- Card heading -->
    <div class="dm_settings_section">
      <div class="subscription-details payment">
        <h2>Debit / Credit Card</h2>
        <p>
          Please enter your payment card details. This is a secure 256-bit strength encrypted payment and we do not
          store any card details on our servers.
        </p>
      </div>
    </div>

    <!-- Start subscription form -->
    <div class="dm_settings_section_heading_checkout">
      <h3>Billing Details</h3>
    </div>


    <%= form_with(model: Subscription.new) do |f| %>

      <!-- Email -->
      <fieldset>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email,
                           class: 'form-control',
                           placeholder: 'enter your email',
                           value: check_for(@subscription&.email)
          %>
        </div>
      </fieldset>

      <!-- First / Last name -->
      <fieldset>
        <div class="row">
          <div class="col-md-6">
            <%= f.label :first_name %>
            <%= f.text_field :first_name,
                             class: 'form-control',
                             placeholder: 'enter your first name',
                             value: check_for(@subscription&.first_name)
            %>
          </div>
          <div class="col-md-6">
            <%= f.label :last_name %>
            <%= f.text_field :last_name,
                             class: 'form-control',
                             placeholder: 'enter your first name',
                             value: check_for(@subscription&.last_name)
            %>
          </div>
        </div>
      </fieldset>
      <br>

      <!-- Company -->
      <fieldset>
        <div class="form-group">
          <%= f.label :company %>
          <%= f.text_field :company,
                           class: 'form-control',
                           placeholder: '(optional)',
                           value: check_for(@subscription&.company)
          %>
        </div>
      </fieldset>

      <!-- Address line 1 -->
      <fieldset>
        <div class="form-group">
          <%= f.label 'Address Line 1' %>
          <%= f.text_field :address_line_one,
                           class: 'form-control',
                           placeholder: 'enter address line 1',
                           value: check_for(@subscription&.address_line_one)
          %>
        </div>
      </fieldset>

      <!-- Address line 2 -->
      <fieldset>
        <div class="form-group">
          <%= f.label 'Address Line 2' %>
          <%= f.text_field :address_line_two,
                           class: 'form-control',
                           placeholder: 'enter address line 2',
                           value: check_for(@subscription&.address_line_two)
          %>
        </div>
      </fieldset>

      <!-- City / Zip Code -->
      <fieldset>
        <div class="row">
          <div class="col-md-6">
            <%= f.label :city %>
            <%= f.text_field :city,
                             class: 'form-control',
                             placeholder: 'enter your city name',
                             value: check_for(@subscription&.city)
            %>
          </div>
          <div class="col-md-6">
            <%= f.label 'Zip Code' %>
            <%= f.text_field :zip_code,
                             class: 'form-control',
                             placeholder: 'enter your zip code',
                             value: check_for(@subscription&.zip_code)
            %>
          </div>
        </div>
      </fieldset>
      <br>

      <!-- Contry -->
      <fieldset>
        <div class="row">
          <div class="col-md-6">
            <%= f.label :country %>
            <%= f.select :country,
                         options_for_select(@countries,
                                            selected: check_for(@subscription&.country)
                         ),
                         {},
                         { class: 'form-control' }
            %>
          </div>
          <div class="col-md-6">
            <%= f.label 'Sate / Province' %>
            <%= f.text_field :state,
                             class: 'form-control',
                             placeholder: 'enter state',
                             value: check_for(@subscription&.state)
            %>
          </div>
        </div>
      </fieldset>
      <br>

      <!-- Card holder name -->
      <fieldset>
        <div class="form-group">
          <label>Cardholder's Name</label>
          <%= f.text_field :card_holder_name, class: 'form-control', placeholder: '' %>
        </div>
      </fieldset>

      <!-- Card Number -->
      <fieldset>
        <div class="form-group">
          <label>Card Number</label>
          <%= f.text_field :card_number, class: 'form-control', placeholder: '' %>
        </div>
      </fieldset>

      <fieldset>
        <div class="row">

          <!-- Exp / CVV -->
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <%= f.label :expiration %>
                <%= f.text_field :country, class: 'form-control', placeholder: 'MM/YY' %>
              </div>
              <div class="col-md-6">
                <label>CVC</label>
                <%= f.text_field :country, class: 'form-control' %>
              </div>
            </div>
          </div>

          <!-- Card images -->
          <div class="col-md-6">
            <div class="dm_col dm_col_cards pull-right">
              <div class="dm_credit_card dm_credit_card_visa" data-name="visa"></div>
              <div class="dm_credit_card dm_credit_card_mastercard" data-name="mastercard"></div>
              <div class="dm_credit_card dm_credit_card_american_express" data-name="amex"></div>
              <div class="dm_credit_card dm_credit_card_discover" data-name="discover"></div>
              <div class="dm_credit_card dm_credit_card_diners_club" data-name="diners_club_international"></div>
            </div>
          </div>
        </div>
      </fieldset>
      <br>

      <div class="row">
        <div class="col-md-12">
          <button type="button" onclick="window.location.href='<%= subscriptions_path %>'" class="btn btn-primary-custom pull-left">
            <i class="fa fa-arrow-left icon-right"></i> Back
          </button>

          <button type="
            <% f.submit %>" class="btn btn-success pull-right">
            <i class="fa fa-check"></i> Place Your Order
          </button>
        </div>
      </div>
    <% end %>


  </div>


  <!-- Search documents -->
  <div class="col-md-4">
    <%= render 'layouts/side_widget' %>
  </div>
</div>
