<% if current_page?(root_path) %>
  <div class="col-lg-12 access-doc-breadcrumb-row">
    <span><a href="<%= check_for_home_path %>">Home</a></span>
    »
    <span class="access-doc-text">Access Your Documents</span>
  </div>
  <div class="col-md-12 access-doc-heading-row">
    <span class="access-doc-heading">Access Your Documents</span>
  </div>
<% elsif current_page?(documents_path) %>
  <div class="col-lg-12 access-doc-breadcrumb-row">
    <span><a href="<%= check_for_home_path %>">Home</a></span>
    »
    <span><a href="<%= documents_path %>">My eForms</a></span>
    »
    <span class="access-doc-text">My Documents</span>
  </div>
  <div class="col-md-12 access-doc-heading-row">
    <span class="access-doc-heading">My Documents</span>
  </div>
<% elsif current_page?(new_document_path) %>
  <div class="col-lg-12 access-doc-breadcrumb-row">
    <span><a href="<%= check_for_home_path %>">Home</a></span>
    »
    <span class="access-doc-text"><b>Florida Residential Lease Agreement</b></span>
  </div>
  <div class="col-md-12 access-doc-heading-row">
    <span class="access-doc-heading">Florida Residential Lease Agreement</span>
  </div>
<% elsif current_page?(new_user_password_path) || current_page?(edit_user_password_path) %>
  <div class="col-lg-12 access-doc-breadcrumb-row">
    <span>Home</span> » <span class="access-doc-text">Password Recovery</span>
  </div>
  <div class="col-md-12 access-doc-heading-row">
    <span class="access-doc-heading">Password Recovery</span>
  </div>
<% elsif current_page?(edit_user_registration_path) %>
  <div class="col-lg-12 access-doc-breadcrumb-row">
    <span><a href="<%= check_for_home_path %>">Home</a></span>
    »
    <span><a href="<%= documents_path %>">My eForms</a></span>
    »
    <span class="access-doc-text">Change Password</span>
  </div>
  <div class="col-md-12 access-doc-heading-row">
    <span class="access-doc-heading">Change Password</span>
  </div>
<% elsif current_page?(subscriptions_path) %>
  <div class="col-lg-12 access-doc-breadcrumb-row">
    <span><a href="<%= check_for_home_path %>">Home</a></span>
    »
    <span><a href="<%= documents_path %>">My eForms</a></span>
    »
    <span class="access-doc-text">Subscription</span>
    <div class="col-md-12 access-doc-heading-row">
      <span class="access-doc-heading">Subscription</span>
    </div>
  </div>
<% elsif current_page?(plans_subscriptions_path) || current_page?(payments_path) %>
  <div class="col-lg-12 access-doc-breadcrumb-row">
    <span><a href="<%= check_for_home_path %>">Home</a></span>
    »
    <span><a href="<%= documents_path %>">My eForms</a></span>
    »
    <span class="access-doc-text">Premium Plans</span>
    <div class="col-md-12 access-doc-heading-row">
      <span class="access-doc-heading">Premium Plans</span>
    </div>
  </div>
<% end %>

<hr class="horizontalLine">
