<div class="search-documents">
  <div class="row">
    <div class="col-md-12">

      <% if current_page?(edit_user_registration_path) || current_page?(subscriptions_url) %>
        <div id="sidebar" class="rounded">
          <ul>
            <li>
              <ul class="dm_navigation">
                <li>
                  <a
                    href="<%= documents_path %>"
                    class="<%= 'dropdown-active-link' if current_page?(documents_path) %>">
                    My Documents
                  </a>
                </li>
                <li>
                  <a
                    href="<%= subscriptions_path %>"
                    class="<%= 'dropdown-active-link' if current_page?(subscriptions_path) %>">
                    Subscription
                  </a>
                </li>
                <li>
                  <a
                    href="<%= edit_user_registration_path %>"
                    class="<%= 'dropdown-active-link' if current_page?(edit_user_registration_path) %>">
                    Change Password
                  </a>
                </li>
                <li>
                  <a
                    rel="nofollow"
                    data-method="delete"
                    href="/users/sign_out">
                    Sign Out
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="sign-in-widget">

          <!-- Help heading -->
          <div class="side-widget-element">
            <span class="heading">Do you need help?</span>
          </div>

          <!-- Help description -->
          <div class="side-widget-element">
            <span class="help-description">
              Our support agents are standing by to assist you. Please be aware that our agents are not licensed
              attorneys and cannot address legal questions.
            </span>
          </div>

          <!-- Phone -->
          <div class="side-widget-element">
            <div class="row">
              <div class="">
                <div class="col-md-1 fa-container"><i class="fa fa-phone font-awesome-size"></i></div>
                <div class="col-md-9">
                  <span><b>Phone</b></span><br>
                  <span>1 (844) 533-6767</span><br>
                  <span class="timing">(9am to 9am, sat/sun 9am to 5pm)</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Chat -->
          <div class="row">
            <div class="contact-section">
              <div class="col-md-1 fa-container"><i class="fa fa-comments font-awesome-size"></i></div>
              <div class="col-md-9">
                <span><b>Chat</b></span><br>
                <span>Online - Start Chat</span><br>
              </div>
            </div>
          </div>

          <!-- Email -->
          <div class="row">
            <div class="contact-section">
              <div class="col-md-1 fa-container"><i class="fa fa-envelope font-awesome-size"></i></div>
              <div class="col-md-9 last-contact">
                <span><b>Email</b></span><br>
                <span>Send Message</span><br>
              </div>
            </div>
          </div>

        </div>

      <% elsif current_page?(root_path) || current_page?(new_user_password_path) || current_page?(edit_user_password_path) %>

        <div class="sign-in-widget">

          <!-- Search document heading -->
          <div class="side-widget-element">
            <span class="heading">Search Documents</span>
          </div>

          <!-- Search field -->
          <div class="side-widget-element">
            <form id="form">
              <input type="search" class="search-field" id="query" name="q" placeholder="Search..."/>
              <button type="submit" class="btn btn-primary-custom vertically-align">Search</button>
            </form>
          </div>

          <!-- Help heading -->
          <div class="side-widget-element">
            <span class="heading">Do you need help?</span>
          </div>

          <!-- Help description -->
          <div class="side-widget-element">
            <span class="help-description">
              Our support agents are standing by to assist you. Please be aware that our agents are not licensed
              attorneys and cannot address legal questions.
            </span>
          </div>

          <!-- Phone -->
          <div class="side-widget-element">
            <div class="row">
              <div class="">
                <div class="col-md-1 fa-container"><i class="fa fa-phone font-awesome-size"></i></div>
                <div class="col-md-9">
                  <span><b>Phone</b></span><br>
                  <span>1 (844) 533-6767</span><br>
                  <span class="timing">(9am to 9am, sat/sun 9am to 5pm)</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Chat -->
          <div class="row">
            <div class="contact-section">
              <div class="col-md-1 fa-container"><i class="fa fa-comments font-awesome-size"></i></div>
              <div class="col-md-9">
                <span><b>Chat</b></span><br>
                <span>Online - Start Chat</span><br>
              </div>
            </div>
          </div>

          <!-- Email -->
          <div class="row">
            <div class="contact-section">
              <div class="col-md-1 fa-container"><i class="fa fa-envelope font-awesome-size"></i></div>
              <div class="col-md-9 last-contact">
                <span><b>Email</b></span><br>
                <span>Send Message</span><br>
              </div>
            </div>
          </div>

        </div>

      <% elsif params[:controller] == 'subscriptions' && params[:action] == 'plans' %>

        <div class="sign-in-widget">

          <!-- Features -->
          <div class="side-widget-element">
            <span class="heading">Features</span>
          </div>

          <!-- Subscription features -->
          <div class="side-widget-element">

            <!-- Encrypt -->
            <div class="membership-feature margin-top-10">
              <div class="membership-feature-icon"><i class="fa fa-lock"></i></div>
              Encrypted and Secure
            </div>

            <!-- Print -->
            <div class="membership-feature">
              <div class="membership-feature-icon"><i class="fa fa-print"></i></div>
              Print Unlimited Documents
            </div>

            <!-- cloud download -->
            <div class="membership-feature">
              <div class="membership-feature-icon"><i class="fa fa-cloud-download"></i></div>
              Export to PDF, Word and ODT
            </div>

            <!-- refresh -->
            <div class="membership-feature">
              <div class="membership-feature-icon"><i class="fa fa-refresh"></i></div>
              Regularly Updated
            </div>

            <!-- legal -->
            <div class="membership-feature">
              <div class="membership-feature-icon"><i class="fa fa-gavel"></i></div>
              Suited to your State Laws
            </div>

            <!-- diamond -->
            <div class="membership-feature">
              <div class="membership-feature-icon"><i class="fa fa-diamond"></i></div>
              100% Satisfaction Guarantee
            </div>

          </div>

          <!-- Help heading -->
          <div class="side-widget-element">
            <span class="heading">Do you need help?</span>
          </div>

          <!-- Help description -->
          <div class="side-widget-element">
            <span class="help-description">
              Our support agents are standing by to assist you. Please be aware that our agents are not licensed
              attorneys and cannot address legal questions.
            </span>
          </div>

          <!-- Phone -->
          <div class="side-widget-element">
            <div class="row">
              <div class="">
                <div class="col-md-1 fa-container"><i class="fa fa-phone font-awesome-size"></i></div>
                <div class="col-md-9">
                  <span><b>Phone</b></span><br>
                  <span>1 (844) 533-6767</span><br>
                  <span class="timing">(9am to 9am, sat/sun 9am to 5pm)</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Chat -->
          <div class="row">
            <div class="contact-section">
              <div class="col-md-1 fa-container"><i class="fa fa-comments font-awesome-size"></i></div>
              <div class="col-md-9">
                <span><b>Chat</b></span><br>
                <span>Online - Start Chat</span><br>
              </div>
            </div>
          </div>

          <!-- Email -->
          <div class="row">
            <div class="contact-section">
              <div class="col-md-1 fa-container"><i class="fa fa-envelope font-awesome-size"></i></div>
              <div class="col-md-9 last-contact">
                <span><b>Email</b></span><br>
                <span>Send Message</span><br>
              </div>
            </div>
          </div>

        </div>

      <% elsif params[:controller] == 'payments' && params[:action] == 'index' %>


        <div class="sign-in-widget">

          <!-- Order heading -->
          <div class="side-widget-element">
            <span class="heading">Your Order</span>
          </div>


          <!-- Order heading -->
          <div class="side-widget-element">

              <div class="dm_order_name">Monthly Plan</div>
              <div class="dm_order_value">$0.00</div>
              <br>
              <hr>
              <div class="dm_order_name"><b>Total</b></div>
              <div class="dm_order_value"><b>$0.00</b></div>
              <br>

              <div class="dm_order_description">
                Your trial subscription plan is free for 7 days and you can cancel anytime. After that you will pay just
                $39 per month starting on 29th January 2022 (EST).
                If you have any questions, please do not hesitate and use our support via phone, online chat or email.
              </div>
          </div>


          <!-- Help heading -->
          <div class="side-widget-element">
            <span class="heading">Do you need help?</span>
          </div>

          <!-- Help description -->
          <div class="side-widget-element">
            <span class="help-description">
              Our support agents are standing by to assist you. Please be aware that our agents are not licensed
              attorneys and cannot address legal questions.
            </span>
          </div>

          <!-- Phone -->
          <div class="side-widget-element">
            <div class="row">
              <div class="">
                <div class="col-md-1 fa-container"><i class="fa fa-phone font-awesome-size"></i></div>
                <div class="col-md-9">
                  <span><b>Phone</b></span><br>
                  <span>1 (844) 533-6767</span><br>
                  <span class="timing">(9am to 9am, sat/sun 9am to 5pm)</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Chat -->
          <div class="row">
            <div class="contact-section">
              <div class="col-md-1 fa-container"><i class="fa fa-comments font-awesome-size"></i></div>
              <div class="col-md-9">
                <span><b>Chat</b></span><br>
                <span>Online - Start Chat</span><br>
              </div>
            </div>
          </div>

          <!-- Email -->
          <div class="row">
            <div class="contact-section">
              <div class="col-md-1 fa-container"><i class="fa fa-envelope font-awesome-size"></i></div>
              <div class="col-md-9 last-contact">
                <span><b>Email</b></span><br>
                <span>Send Message</span><br>
              </div>
            </div>
          </div>

        </div>

      <% else %>


      <% end %>


      <!-- Chat / Email -->
      <% unless params[:controller] == 'subscriptions' && params[:action] == 'plans' %>

      <% end %>

    </div>
  </div>
</div>
